p {
padding: 15px;
font-size: 22px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.footer {
background: linear-gradient(45deg, #fff1eb, #ace0f9);
}


.form-ft {
    min-width: 550px;
}
.form-item {
    margin-bottom: 20px;
}
.form-label {
    font-style: 18px;
    display: block;
    margin-bottom: 10px;
}
.form-input {
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    width: 20%;
    font-style: 18px;
}

textarea.form-input {
    min-height: 60px;
    resize: vertical;
    padding: 20px;
}


.form-button {
    width: 20%;
    justify-content: center;
    align-items: center;
    background-color: green;
    color:white;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 0 white;
};


